version: '3'
services:
  php:
    image: 'xfilefin/laravel-php:5.6'
    volumes:
      - '/var/www/BFACP:/var/www/'
  nginx:
    image: 'jguyomard/laravel-nginx:1.13'
    volumes:
      - '/var/www/BFACP:/var/www/'
    ports:
      - '8080:80'

